<!-- Review Button create  -->
<div>
  <span *ngFor="let item of responseData;let i=index">
    <button class="btn" id="btnDynamic" [class.selected]="item.proposalReview_cat === reviewButton"
      (click)="tempCount = i;onReviewButton(item)">{{responseData[i].proposalReview_cat}}</button>
  </span>
</div>

<app-alert></app-alert>

<!-- Reviews start here -->
<fieldset [disabled]="bidStatus == 'DROPPED'">
  <div id="bid_reviews">
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
        <div class="bid_div" *ngIf="review && responseData && responseData.length > 0">
          <!-- Table Heading for the Review  -->
          <div class="bid_head">
            <div class="row">
              <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 align-center">
                #
              </div>
              <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                Proposal Category
              </div>
              <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                Reference
              </div>
              <div class="col-xs-2 col-sm-2 col-lg-3 col-md-3">
                Comments
              </div>
              <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                  Action Required By
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                  Reviewed By
                </div>
              </div>
              <div class="col-xs-2 col-sm-2 col-lg-1 col-md-1 ">
                <i class="fa fa-gear"></i>
              </div>
            </div>
          </div>
          <div class="row" *ngFor="let item of responseData[tempCount].proposalReview_add;let i=index;last as isLast">
            <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 align-center srno">
              {{i+1}}
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
              <select class="form-control" [(ngModel)]="responseData[tempCount].proposalReview_add[i].proposal_id"
                (ngModelChange)="onChange($event,i)" [disabled]="checkUser() ||
                responseData[tempCount].proposalReview_add[i].reviewer_id != userID || (responseData.length-1 != tempCount) ||
                !responseData[tempCount].proposalReview_add[i].draft[0].flag">
                <!--  || responseData[tempCount].proposalReview_add[i].comment_id -->
                <option value="">Please select</option>
                <option *ngFor="let cat of propsCats" [value]="cat.proposal_id">{{cat.proposal_cat}}
                </option>
              </select>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
              <!-- *ngIf="count && references && references.length" -->
              <select class="form-control" [(ngModel)]="responseData[tempCount].proposalReview_add[i].item_id"
                (ngModelChange)="onReferenceChange($event,i)" [disabled]="checkUser() ||
                responseData[tempCount].proposalReview_add[i].reviewer_id != userID || (responseData.length-1 != tempCount) ||
                !responseData[tempCount].proposalReview_add[i].draft[0].flag">
                <option value="">Please select</option>
                <option
                  *ngFor="let reference of references | startsWith : responseData[tempCount].proposalReview_add[i].proposal_id"
                  [value]="reference.item_id">{{reference.reference}}</option>
              </select>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-3 col-md-3">
              <textarea type="text" class="form-control input-bar" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="responseData[tempCount].proposalReview_add[i].comment" [readOnly]="checkUser() ||
                                responseData[tempCount].proposalReview_add[i].reviewer_id != userID || (responseData.length-1 != tempCount) ||
                                !responseData[tempCount].proposalReview_add[i].draft[0].flag" required>
                                </textarea>
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                  <select [(ngModel)]="responseData[tempCount].proposalReview_add[i].action_required_by" id="action"
                    class="form-control"
                    [disabled]="checkUser() ||
                                    responseData[tempCount].proposalReview_add[i].reviewer_id != userID || (responseData.length-1 != tempCount) ||
                                    !responseData[tempCount].proposalReview_add[i].draft[0].flag || responseData[tempCount].proposalReview_add[i].proposal_id != 'Other'">
                    <option value=""></option>
                    <option *ngFor="let action of contributors" [value]="action.user_id">
                      {{action.username}} - {{action.userTypes[0].user_subtype}}</option>
                  </select>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                  <select [(ngModel)]="responseData[tempCount].proposalReview_add[i].reviewer_id" class="form-control"
                    [disabled]="true">
                    <option *ngFor="let user of reviewers" [value]="user.user_id">
                      {{user.username}} - {{user.userTypes[0].user_subtype}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Attach Delete Download and Add for Icon and Images Section  -->
            <div class="col-xs-2 col-sm-2 col-lg-1 col-md-1 action">
              <span class="fa fa-ellipsis-v dropdown-toggle"
                [ngStyle]="{'color' : item.attachment_data.length > 0 ? '#EC7D1F' : '#17b495'}"
                style="color: #17b495;cursor: pointer;" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></span>
              <ul class="dropdown-menu dropdown-menu-left actionList">
                <span><i class="fa fa-download faIcon" title="Download" aria-hidden="true"
                    [ngStyle]="{'color' : item.attachment_data.length > 0 ? '#EC7D1F' : 'white'}"
                    (click)="onDownloadDialog(i)"></i></span>
                <span><i class="fa fa-paperclip faIcon" title="Attach" (click)="onUpload(i)"></i></span>
                <span><i class="fa fa-trash faIcon"
                     [ngStyle]="{'cursor': responseData[tempCount].proposalReview_add[i]?.draft[0].flag == true ? 'pointer' : 'not-allowed'}"
                    title="Delete" (click)="deleteRow(i)"></i></span>
              </ul>
              <span
                [hidden]="!isLast || checkUser() || responseData[tempCount].ProposalReview_flag || disableFlag || !approveReviewFlag"><i
                  class="fa fa-plus-circle" title="Add" (click)="addRow(tempCount)"></i></span>
              <div class="dropdown" *ngIf="item.reviewSubmitDate != null">
                <i class="fa fa-clock-o" style="color: white;"> </i>
                <div class="dropdown-content">
                  {{ item.reviewSubmitDate  | date: "dd-MM-yyyy , h:mm:ss" }}
                </div>
              </div> 
            </div>
          </div> 
        </div>
        <!-- If there is no Review -->
        <div class="aling-center bid_div color-white" style="margin-top:10px"
          *ngIf="responseData && responseData.length == 0">
          No Proposal Reviews
        </div>
      </div>
    </div>
  </div>

  <!-- Action Button >>> Save,Submit & Reset  -->
  <div class="row" *ngIf="responseData && responseData.length > 0 && !checkUser()">
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 align-center">
      <div class="text-center">
        <button id="btnSubmit" class="btn save-button" [disabled]="disbaleSubmitButtons()"
          (click)="onSaveAsDraft()">Save</button>
        <button id="btnSubmit" class="btn draft-button" [disabled]="disbaleSubmitButtons() || !approveReviewFlag"
          (click)="onSubmit()">Submit</button>
        <button id="btnSubmit" class="btn cancel-button" (click)="onReset()"
          [disabled]="disbaleSubmitButtons()">Reset</button>
        <button id="btnSubmit" class="btn" id="approve" (click)="onApprove()"
          [disabled]="disbaleSubmitButtons() || approveReviewFlag">Approve</button>
      </div>
    </div>
  </div>

  <!-- Loader Section for the Review tab -->
  <div class="overlay" *ngIf="loader">
    <img src="assets/Logo/browserlogo.png" id="logoLoader" alt="" />
  </div>
</fieldset>