<!-- <app-header></app-header> -->
<app-alert></app-alert>
<div class="container">
  <div class="row">
    <div class="mainadduserSection col-sm-10 col-md-9 col-md-offset-2">
      <div class="card mainuserSection">
        <!-- Breadcrumb Section  -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"> User Settings</li>
            <!-- <li class="breadcrumb-item" (click)="changeState()">Menu</li> -->
            <li class="breadcrumb-item" routerLink='/roles/list' aria-current="page">Roles</li>
            <li class="breadcrumb-item active" aria-current="page">View</li>
          </ol>
        </nav>
        <div id="formBackground">
          <!-- Heading of the Page -->
          <div class="row text-center form-group">
            <h4 class="col-md-11 formHeading">View Role</h4>
            <span class="col-md-1 align-right"><img src="assets\images\edit.png" title="Edit" style="width: 21px;
              margin: 5px;cursor: pointer;" [routerLink]="['../../update',role_id]"></span>
          </div>

          <!-- we have fielset property for Disbaled -->
          <fieldset disabled>
            <div class="formLogin">
              <div class="col-md-12 roleLabel">
                <label class="frmLable">Role Name : </label>
                <span>{{role.name}}</span>
              </div>
              <!-- <div class="col-md-6 form-group">
                  <div class="form-group">
                    <div class="col-md-3">
                      <label class="frmLable">Display Name :</label>
                    </div>
                    <div class="col-md-9">
                      <span>{{role.display_name}}</span>

                    </div>
                  </div>
                </div> -->
              <div class="col-md-12 roleLabel">
                <label class="margin-bottom"> Role Type :&nbsp;</label>
                <span>{{role.role_type}}</span>
              </div>

              <div class="col-md-12 roleLabel">
                <label class="margin-bottom">Sub Role Type :&nbsp;</label>
                <span>{{role.sub_type}}</span>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="">
                    <div class="ps_div ps_head">
                      <div class="row">
                        <div class="col-md-1 align-center">#</div>
                        <div class="col-md-5">Module Name</div>
                        <div class="col-md-2">
                          Select
                        </div>
                        <div class="col-md-2">Read</div>
                        <div class="col-md-2">Write</div>
                      </div>
                    </div>
                    <div>
                      <div class="row" *ngFor="let item of role.module_list; let i = index;">
                        <div class="col-md-1 align-center">{{i+1}}</div>
                        <div class="col-md-5">
                          <input (input)="validateSingle()" type="text" class="form-control"
                            [(ngModel)]="role.module_list[i].module_name" value="{{role.module_list[i].module_name}}"
                            disabled>
                        </div>
                        <div class="col-md-2">
                          <input (input)="validateSingle()" type="checkbox" [(ngModel)]="role.module_list[i].flag"
                            value="true" [checked]="true">
                        </div>
                        <div class="col-md-2">
                          <input (input)="validateSingle()" type="radio" [value]="role.module_list[i].read"
                            [checked]="role.module_list[i].read" name="access_{{i}}">
                        </div>
                        <div class="col-md-2">
                          <input (input)="validateSingle()" type="radio" [value]="role.module_list[i].write"
                            [checked]="role.module_list[i].write" name="access_{{i}}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
