<div class="account-user-sec">
  <div class="account-sec">
    <!-- Logo of the Page -->
    <div class="top-bar row">
      <div class="col-md-5">
        <div class="logo margin-top-12">
          <img src="assets/Logo/CMS IT.png" [routerLink]="['/login']" class="cms-logo" alt="cms logo">
        </div>
      </div>
    </div>
    <app-alert></app-alert>
    <div class="acount-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="contact-sec">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="widget-title">
                    <h3><img style="width: 110%;margin-top: -53px;margin-left: -8px;"
                        src="assets/Logo/Pricebid logo total final blue.png"></h3>
                    <span style="color:#364453;">Forgot Password</span>
                  </div><!-- Widget title -->
                  <div class="account-form">
                    <div class="alert alert-danger" *ngIf="errorMsg">
                      {{errorMsg}}
                    </div>
                    <form [formGroup]="forgotPasswordForm" novalidate>
                      <div class="row">
                        <div class="feild col-md-12">
                          <!-- (input) = "validateRegex(email)" -->
                          <span style="color:black;">email</span>
                          <input type="text" (input)="validateRegex(forgotPasswordForm.value.value)" placeholder="email"
                            formControlName="value" name="email" />
                        </div>
                        <div class="feild col-md-12">
                          <button class="btn save-button" [disabled]="!forgotPasswordForm.valid"
                            (click)="forgotPassword(forgotPasswordForm)">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================Footer Area =================-->
    <div class="container" class="footer">
      <div class="logo">
        <img src="assets/Logo/Pricebid logo only final.jpg" class="logo-img-footer" alt="Pricebid Logo">
      </div>
      <div class="align-center" style="margin-top: 0px;">
        <p>© 2021 Pricebid.co</p>
      </div>
    </div>
  </div><!-- Account Sec -->
</div>
