.row {
  margin-bottom: 7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #f9f9f9;
  min-width: 82px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 3px 5px;
  z-index: 1;
  background-color: #364453;
  border: 1px solid #17b495;
  font-size: 12px;
  border: 1px solid #17b495;
}

.dropdown {
  margin-left: 4rem;
  margin-top: -2rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bid_div {
  margin-top: 5px !important;
  background-color: #364453 !important;
  padding: 5px 0;
  border-radius: 5px;
}

.bid_div {
  margin-top: 5px !important;
  background-color: #364453 !important;
  padding: 5px 0;
  border-radius: 5px;
}

.bid_head {
  color: #70D8C4;
  font-size: 16px;
  text-transform: capitalize;
}

textarea {
  resize: vertical;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 34px;
}

.fa-ellipsis-v {
  margin-top: 9px;
  color: #17b495;
  font-size: 20px;
  cursor: pointer;
  margin-left: 5px !important;
}

.actionList {
  background-color: #364453;
  border: 1px solid #17b495;
  padding: 5px;
  margin-left: -40px;
}

.faIcon {
  padding: 4px;
  font-size: 17px;
  color: white;
  cursor: pointer;
}

.fa-plus-circle {
  color: #EA8F38;
  font-size: 17px;
  cursor: pointer;
  margin-left: 10px;
}

input:read-only {
  background: white
}

input:disabled {
  background: #eee !important;
}

.dropdown-menu {
  min-width: 0;
}

.fa-check-circle {
  color: white;
  padding: 2px;
  margin-left: 5px;
  cursor: pointer;
}

.fa-times-circle {
  color: white;
  padding: 2px;
  cursor: pointer;
}

/* ================Responsive Mobile View =================  */

@media only screen and (max-width: 700px) {
  .respIcon {
    margin-left: -19px;
    margin-top: -6px;
    margin-right: -9px;
  }
}

@media only screen and (max-width: 650px) {
  img {
    width: 14px;
  }
}

@media only screen and (max-width: 900px) and (min-width:651px) {
  img {
    width: 16px;
  }
}