<app-alert></app-alert>
<div class="container">
  <div class="content padding-top-100">
    <!-- Filter Starts Here -->
    <div *ngIf="filterFlag" class="fa fa-filter" title="Filter"
      style="float:right;font-size:20px;cursor: pointer;margin-top: -50px;" data-toggle="collapse"
      data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></div>
    <span class="fa fa-refresh" title="Refresh" (click)="onReload()"></span>
    <div *ngIf="filterFlag" class="collapse" id="collapseExample">
      <div class="col-md-12 filterBox">
        <div class="col-md-1 margin-left">
          <input type="radio" name="BU" value="only" [(ngModel)]="obj.multiflagBu"> Only<br>
          <input type="radio" name="BU" value="All" [(ngModel)]="obj.multiflagBu"> All<br>
        </div>
        <div class="col-md-2 margin-left">
          <ng-multiselect-dropdown [placeholder]="'Business Unit'" [data]="business_units"
            [settings]="dropdownBUSettings" [(ngModel)]="selectedBUs" (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event,'BU')">
          </ng-multiselect-dropdown>
        </div>
        <div class="col-md-1">
          <input type="radio" name="territory" value="only" [(ngModel)]="obj.multiflagTerritory"> Only<br>
          <input type="radio" name="territory" value="All" [(ngModel)]="obj.multiflagTerritory"> All<br>
        </div>
        <div class="col-md-2 margin-left">
          <ng-multiselect-dropdown [placeholder]="'Territory'" [data]="territories"
            [settings]="dropdownTerritorySettings" [(ngModel)]="selectedTerritories" (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event,'Territory')">
          </ng-multiselect-dropdown>
        </div>
        <div class="valueRange">
          <div class="col-md-1 head">
            <label style="margin-top:7px"> &#8377;Range :</label>
          </div>
          <div class="col-md-1 margin-left">
            <input type="number" [(ngModel)]="start" oninput="validity.valid||(value=value.replace(/[^0-9.]+/g, ''))"
              (ngModelChange)="onItemSelect($event)" placeholder="&#8377; From"
              class="range form-control input-border input-bar">
          </div>
          <div class="guion"> - </div>
          <div class="col-md-1">
            <input type="number" [(ngModel)]="end" oninput="validity.valid||(value=value.replace(/[^0-9.]+/g, ''))"
              (ngModelChange)="onItemSelect($event)" placeholder="&#8377; To"
              class="range form-control input-border input-bar">
          </div>
        </div>
        <div class="col-md-2" style="margin-left: 10px;">
          <input placeholder="Date Time Range" class="form-control input-border input-bar" [(ngModel)]="dateTimeRange"
            [selectMode]="'range'" (ngModelChange)="onItemSelect($event)" [owlDateTimeTrigger]="dtRange1"
            [owlDateTime]="dtRange1" style="width:140px">
          <owl-date-time #dtRange1></owl-date-time>
        </div>
        <button class="btn btn-submit" style="margin-top: 0px" (click)="getResult()">Search</button>
        <div class="col-md-1" style="margin-top:-7px;float:right;">
          <button class="btn btn-clear" (click)="onClear()">Clear</button>
        </div>
      </div>
    </div>
    <!-- Filter ends Here -->
  </div>
</div>

<!-- Bar chart -->
<h3 class="align-center title">Opportunity Analysis</h3>
<h5 class="align-center title" style="color: #808090;">Period: {{start|date: 'dd-MMM-yyyy'}}  -  {{end|date: 'dd-MMM-yyyy'}}</h5>
<div id='myChart' *ngIf="zingChartFlag"></div>

<!-- ZIng grid -->
<app-zing-grid-table *ngIf="zingGridFlag && gridData && gridData.bids.length > 0" [gridData]="gridData">
</app-zing-grid-table>

<!-- Loader Section  -->
<div class="overlay" *ngIf="loader">
  <img src="assets/Logo/browserlogo.png" id="logoLoader" alt="" />
</div>