<app-alert></app-alert>
<!-- Add Solution Category -->
<span
  *ngIf="access && access?.createAccess && responseLength == 0 && productType == 'nonpricing' && (reviewFlag && reviewNonPriceflag) && !pocSubmited && !bidData?.parent && isCoOwner && bidStatus != 'DROPPED' ">
  <img src="assets/images/add-orange.png" title="Add Category" (click)="onPricingAdd()"
    style="margin: 8px 0 0 10px;cursor: pointer;">
</span>
<div class="row">
  <div class="col-md-12">
    <div *ngIf="response[temp]">
      <span style="margin-right: 10px;" *ngFor="let item of solutionCats;let i = index">
        <button class="btn" [class.selected]="item === selectedCategory" id="btnDynamic"
          (click)="onSelectCategory(item,i)">{{item}}
        </button>
        <i class="fa fa-close" title="Delete Category"
          *ngIf="access && access?.createAccess &&  productType == 'nonpricing' && (reviewFlag && reviewNonPriceflag) && !pocSubmited && !bidData?.parent && isCoOwner && bidStatus != 'DROPPED'"
          (click)="onDeleteCategory(item)"></i>
      </span>
      <span
        *ngIf="access && access?.createAccess && productType == 'nonpricing' && (reviewFlag && reviewNonPriceflag) && !pocSubmited && !bidData?.parent && isCoOwner && bidStatus != 'DROPPED'">
        <img src="assets/images/add-orange.png" title="Add Category" (click)=" onPricingAdd()"
          style="margin-left:10px;cursor: pointer;">
      </span>
      <span
        *ngIf="access && access?.createAccess && productType == 'nonpricing' && (reviewFlag && reviewNonPriceflag) && !pocSubmited && !bidData?.parent && isCoOwner && bidStatus != 'DROPPED'">
        <i class="fa fa-clone" title="Clone Category" (click)="onCloneCategory()"></i>
      </span>
    </div>
  </div>
  <!-- <div class="col-md-5 align-right" *ngIf="reviewNewData?.length > 0">
    <span class="text-truncate second1-circle-color"
      [ngStyle]="{background: item.actionDone?'#4FB596':'white', color: item.actionDone?'white':'black', padding: item.actionDone?'6px':'6px'}"
      *ngFor="let item of reviewers" id="circleThree">
      <span class="bid-text-center" title="{{item?.fullname}}">
        {{getSignatures(item?.firstName, item?.lastName)}}
      </span>
    </span>
  </div> -->
</div>
<!-- solution starts here -->
<form autocomplete="off">
  <div id="bid_solution" *ngIf="response[temp] && contributors && bidData && productType == 'nonpricing' && access">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="bid_div">
          <!-- Table Heading for the Solution -->
          <div class="bid_head">
            <div class="row">
              <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                <div class="row">
                  <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 align-center">
                    #
                  </div>
                  <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                    Item
                  </div>
                  <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                    Description
                  </div>
                  <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                    Contributor
                  </div>
                  <div class="col-xs-3 col-sm-3 col-lg-2 col-md-2">
                    Start Date - End Date
                  </div>
                  <div class="col-xs-3 col-sm-3 col-lg-2 col-md-2">
                    Remarks/Comments
                  </div>
                  <!-- <div class="col-md-1">
                      Action Taken
                    </div> -->
                  <div class="col-xs-2 col-sm-2 col-lg-1 col-md-1">
                    <i class="fa fa-gear"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="response[temp].solution_add">
            <div class="row" *ngFor="let items of response[temp].solution_add;let j=index; last as isLast">
              <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <div class="row">
                  <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 align-center srno">
                    {{j+1}}
                  </div>
                  <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                    <textarea type="text" class="form-control input-bar" [ngModelOptions]="{standalone: true}"
                      name="response[temp].solution_add[j].item_name"
                      [disabled]="(access?.createAccess && !isCoOwner) || !response[temp].solution_add[j].draft[0].flag || (!reviewFlag || !reviewNonPriceflag)|| pocSubmited || bidData?.parent || bidStatus == 'DROPPED'"
                      [(ngModel)]="response[temp].solution_add[j].item_name"></textarea>
                    <!--  || (access?.createAccess && disabledFlag) -->
                  </div>
                  <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                    <textarea type="text" class="form-control input-bar" [ngModelOptions]="{standalone: true}"
                      name="response[temp].solution_add[j].description"
                      [disabled]="(access?.createAccess && !isCoOwner) || !response[temp].solution_add[j].draft[0].flag || (!reviewFlag || !reviewNonPriceflag)|| pocSubmited || bidData?.parent || bidStatus == 'DROPPED'"
                      [(ngModel)]="response[temp].solution_add[j].description">
                        </textarea>
                  </div> 
                  <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                    <select class="form-control input-bar" [ngModelOptions]="{standalone: true}"
                      name="response[temp].solution_add[j].contributor" [disabled]="((access?.createAccess && !isCoOwner) || !response[temp].solution_add[j].draft[0].flag || !actionFlag || (!reviewFlag || !reviewNonPriceflag)|| pocSubmited || bidData?.parent || bidStatus == 'DROPPED')
                                  && !response[temp].solution_add[j].reassignFlag"
                      [(ngModel)]="response[temp].solution_add[j].contributor">
                      <!-- <option [value]="contributor.user_id" *ngFor="let contributor of contributors" [disabled]="response[temp].solution_add[j].reassignFlag
                      && response[temp].solution_add[j].originalContributor == contributor.user_id">
                        <span>{{contributor.username}}
                          -
                          {{contributor.user_type == 'BID_OWNER' ? 'Co-Owner' : contributor.user_subtype}}</span>
                        <span *ngIf="response[temp].solution_add[j].reassignFlag && !contributor.reassignFlag"> -
                          {{ contributor.count }}</span>
                          </option> -->

                          <ng-container *ngFor="let contributor of contributors">
                            <option [value]="contributor.user_id" [disabled]="contributor?.eleUserRemove == 'Removed' || (response[temp].solution_add[j].reassignFlag
                            && response[temp].solution_add[j].originalContributor == contributor.user_id)"  *ngIf="!response[temp].solution_add[j].draft[0].flag">
                              <span >
                                {{contributor.username }} -
                                {{contributor.user_type == 'BID_OWNER' ? 'Co-Owner' : contributor.user_subtype}}
                              </span>
                              <span *ngIf="response[temp].solution_add[j].reassignFlag && !contributor.reassignFlag">
                                - {{ contributor.count }}
                                </span>
                            </option>
    
                            <option [value]="contributor.user_id" [disabled]="response[temp].solution_add[j].reassignFlag
                            && response[temp].solution_add[j].originalContributor == contributor.user_id" *ngIf="response[temp].solution_add[j].draft[0].flag  && contributor?.eleUserRemove == 'notRemoved'">
                              <span>
                                {{contributor?.eleUserRemove == 'notRemoved' ?  contributor.username : contributor.username }} -
                                {{contributor?.eleUserRemove == 'notRemoved' && contributor.user_type == 'BID_OWNER' ? 'Co-Owner' : contributor.user_subtype}}
                              </span>
                              <span *ngIf="response[temp].solution_add[j].reassignFlag && !contributor.reassignFlag">
                                - {{ contributor.count }}
                                </span>
                            </option>
    
                          </ng-container>

                    </select>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                    <input placeholder="Date Time Range" class="form-control input-bar"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="response[temp].solution_add[j].dateTimeRange"
                      [selectMode]="'range'" [min]="minDate" [max]="submission_date"
                      [readonly]="access?.createAccess && actionFlag"
                      [ngClass]="response[temp].solution_add[j].draft[0].flag == false ? 'disableColor' : 'normalColor'"
                      [disabled]="(access?.createAccess && !isCoOwner) || !response[temp].solution_add[j].draft[0].flag || (!reviewFlag || !reviewNonPriceflag)|| pocSubmited || bidData?.parent || bidStatus == 'DROPPED'"
                      (ngModelChange)="onDateSelect(temp,j)" [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                    <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-lg-2 col-md-2">
                    <textarea type="text" class="form-control input-bar" [ngModelOptions]="{standalone: true}"
                      name="response[temp].solution_add[j].remarks" id="remarks"
                      [disabled]="(!access?.remarkAccess || !response[temp].solution_add[j].draft[1]?.flag || response[temp].solution_add[j].contributor != userID) ||
                   ((!reviewFlag || !reviewNonPriceflag) && this.reviewComment) || pocSubmited || bidData?.parent || bidStatus == 'DROPPED'|| response[temp].solution_add[j].reassignFlag"
                      [(ngModel)]="response[temp].solution_add[j].remarks">
                  </textarea>
                  </div>

                  <!-- SubItem changes -->
                  <div class="col-xs-2 col-sm-2 col-lg-1 col-md-1 action">
                    <!-- Arrow Attach Delete Download and Add Section Icon and Images Section  -->
                    <span class="fa fa-ellipsis-v dropdown-toggle"
                      *ngIf="response[temp].solution_add[j]?.subItem?.length == 0"
                      [ngStyle]="{'color' : items.attachment_data.length > 0 ? '#EC7D1F' : '#17b495'}"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                    <i class="fa fa-caret-down" style="cursor:pointer;color: white;" aria-hidden="true"
                      data-toggle="collapse" [attr.data-target]="'#'+ response[temp].solution_add[j].item_id "
                      *ngIf="response[temp].solution_add[j]?.subItem?.length != 0"></i>
                    <ul class="dropdown-menu dropdown-menu-left actionList">
                      <span
                        *ngIf="response[temp].solution_add[0].draft.length > 1 && response[temp].solution_add[j].contributor == userID && ((reviewFlag && reviewNonPriceflag) || !reviewComment) && !pocSubmited &&(!reviewCompleted || !rfiFlag) && !response[temp].solution_add[j].reassignFlag"><i
                          class="fa fa-undo faIcon" title="Revoke" (click)="onEdit(j, temp)"></i></span>
                      <span
                        *ngIf="isCoOwner && response[temp].solution_add[0].draft.length > 1 && !pocSubmited && (!reviewCompleted || !rfiFlag) &&  ((reviewFlag && reviewNonPriceflag) || !reviewComment)"
                        (click)="onReassign(j, temp)"><i class="fa fa-user faIcon" style="color:white "
                          title="Re-assign"></i></span>
                      <span *ngIf="response[temp].solution_add[j]?.subItem?.length == 0"><i
                          class="fa fa-download faIcon" title="Download" aria-hidden="true"
                          (click)="onDownloadDialog(j,temp)"
                          [ngStyle]="{'color' : items.attachment_data.length > 0 ? '#EC7D1F' : 'white'}"></i></span>
                      <span *ngIf="response[temp].solution_add[j]?.subItem?.length == 0"> <i
                          class="fa fa-paperclip faIcon" title="Attach" (click)="onUpload(j, temp)"></i></span>
                      <span *ngIf="response[temp].solution_add[j]?.subItem?.length == 0"><i class="fa fa-trash faIcon"
                            [ngStyle]="{'cursor': response[temp].solution_add[j]?.draft.length == 1 ? 'pointer' : 'not-allowed'}"
                          title="Delete" (click)="deleteRow(j,temp)"></i></span>

                    </ul>
                    <span  *ngIf="response[temp].solution_add[j].reassignFlag"
                      (click)="onReassignSubmit(j, temp)"><i class="fa fa-check-circle" title="Re-assign"></i></span>
                    <span *ngIf="response[temp].solution_add[j].reassignFlag" (click)="onReassignClear(j, temp)"><i
                        class="fa fa-times-circle" title="Cancel"></i></span>
                    <span
                      *ngIf="access?.createAccess && isCoOwner && isLast && response[temp].solution_add[j].draft[0].flag && (reviewFlag && reviewNonPriceflag) && !pocSubmited && bidStatus != 'DROPPED'"><i
                        class="fa fa-plus-circle" title="Add" (click)="addRow(j,temp)"></i></span>
                    <div class="dropdown" *ngIf="items.contributorSubmitDate != null">
                      <i class="fa fa-clock-o" style="color: white;"> </i>
                      <div class="dropdown-content">
                        {{ items.contributorSubmitDate | date: "dd-MM-yyyy , h:mm:ss"}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->

              <div *ngIf="true" class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 collapse in"
                    [attr.id]="response[temp].solution_add[j].item_id">
                    <div class="row" *ngFor="let item of items?.subItem;let k=index; last as subLast">
                      <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 align-center srno">
                        {{j+1}}.{{k+1}}
                      </div>
                      <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                        <textarea type="text" class="form-control input-bar" [ngModelOptions]="{standalone: true}"
                          name="items.subItem[k].item_name" [(ngModel)]="items.subItem[k].item_name"
                          [disabled]="!access?.createAccess || !assignmentByBM || !actionFlag || bidData?.parent || bidStatus == 'DROPPED'"></textarea>
                        <!-- || (access?.createAccess && disabledFlag || items.item_id) -->
                      </div>
                      <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                        <textarea type="text" class="form-control input-bar" [ngModelOptions]="{standalone: true}"
                          name="items.subItem[k].description" [(ngModel)]="items.subItem[k].description"
                          [disabled]="!access?.createAccess || !assignmentByBM || !actionFlag || bidData?.parent || bidStatus == 'DROPPED'"></textarea>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                        <select class="form-control input-bar" [ngModelOptions]="{standalone: true}"
                          name="items.subItem[k].contributor" [(ngModel)]="items.subItem[k].contributor"
                          [disabled]="!items.subItem[k].reassignFlag && (!access?.createAccess || !assignmentByBM || !actionFlag || bidData?.parent || bidStatus == 'DROPPED')">
                          <!-- <option [value]="contributor.user_id" *ngFor="let contributor of contributors" [disabled]="items.subItem[k].reassignFlag
                                              && items.subItem[k].originalContributor == contributor.user_id">
                            {{contributor.username}} -
                            {{contributor.user_type == 'BID_OWNER' ? 'Co-Owner' : contributor.user_subtype}}
                            <span *ngIf="items.subItem[k].reassignFlag">
                              - {{ contributor.count }}
                            </span>
                          </option> -->

                          <ng-container *ngFor="let contributor of contributors">
                            <option [value]="contributor.user_id" [disabled]="contributor?.eleUserRemove == 'Removed' || (items.subItem[k].reassignFlag
                            && items.subItem[k].originalContributor == contributor.user_id)">
                              <span >
                                {{contributor.username }} -
                                {{contributor.user_type == 'BID_OWNER' ? 'Co-Owner' : contributor.user_subtype}}
                              </span>
                              <span *ngIf="items.subItem[k].reassignFlag">
                                - {{ contributor.count }}
                                </span>
                            </option>    
                          </ng-container>

                        </select>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                        <input placeholder="Date Time Range" class="form-control input-bar"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="items.subItem[k].dateTimeRange"
                          [readonly]="access?.createAccess && actionFlag"
                          [ngClass]="items.subItem[k].draft[0].flag == false ? 'disableColor' : 'normalColor'"
                          [disabled]="!access?.createAccess || !assignmentByBM || !actionFlag || (!reviewFlag || !reviewNonPriceflag)|| pocSubmited || bidData?.parent || bidStatus == 'DROPPED'"
                          [selectMode]="'range'" (ngModelChange)="onDateSelect($event)" [owlDateTimeTrigger]="dtRange1"
                          [owlDateTime]="dtRange1">
                        <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-lg-2 col-md-2">
                        <textarea type="text" class="form-control input-bar" [ngModelOptions]="{standalone: true}"
                          name="items.subItem[k].remarks" id="remarks" [(ngModel)]="items.subItem[k].remarks"
                          [disabled]="!access?.remarkAccess || (access?.remarkAccess && item.contributor != userID) ||
                            (item.contributor == userID && !items.subItem[k].draft[1].flag) || (((!reviewFlag || !reviewNonPriceflag) && this.reviewComment) && this.reviewComment)|| pocSubmited || bidData?.parent || bidStatus == 'DROPPED'
                            || items.subItem[k].reassignFlag">
                            </textarea>
                      </div>

                      <!-- Attach Delete Download and Add for Icon and Images Section  -->
                      <div class="col-xs-2 col-sm-2 col-lg-1 col-md-1 action" *ngIf="subLast">
                        <span class="fa fa-ellipsis-v dropdown-toggle"
                          [ngStyle]="{'color' : item.attachment_data.length > 0 ? '#EC7D1F' : '#17b495'}"
                          style="color: #17b495;cursor: pointer;" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-left actionListSubRow">
                          <span
                            *ngIf="response[temp].solution_add[0].draft.length > 1 && items.subItem[k].contributor == userID && ((reviewFlag && reviewNonPriceflag) || !reviewComment) && !pocSubmited &&(!reviewCompleted || !rfiFlag)&& !items.subItem[k].reassignFlag"><i
                              class="fa fa-undo faIcon" title="Revoke" (click)="onEdit(j, temp)"></i></span>
                          <span
                            *ngIf="isCoOwner && response[temp].solution_add[0].draft.length > 1 && ((reviewFlag && reviewNonPriceflag) || !reviewComment)"
                            (click)="
                            onReassign(j, temp)"><i class="fa fa-user faIcon" style="color:white"></i></span>
                          <span><i class="fa fa-download faIcon" title="Download"
                              [ngStyle]="{'color' : item.attachment_data.length > 0 ? '#EC7D1F' : 'white'}"
                              (click)="onDownloadDialog(j,temp)"></i></span>
                          <span> <i class="fa fa-paperclip faIcon" title="Attach"
                              (click)="onUploadReview(j, temp)"></i></span>

                          <!-- <img src="assets/images/rubbish-bin.png"  title="Delete"
                              (click)="deleteRow(j,temp)"> -->
                        </ul>
                        <span  *ngIf="items.subItem[k].reassignFlag"
                          (click)="onReassignSubmit(j, temp)"><i class="fa fa-check-circle"
                            title="Re-assign"></i></span>
                        <span *ngIf="items.subItem[k].reassignFlag" (click)="onReassignClear(j, temp)"><i
                            class="fa fa-times-circle" title="Cancel"></i></span>
                        <div class="dropdown" *ngIf="items?.subItem[k]?.contributorSubmitDate != null">
                          <i class="fa fa-clock-o" style="color: white;"> </i>
                          <div class="dropdown-content">
                            {{ items?.subItem[k]?.contributorSubmitDate | date: "dd-MM-yyyy , h:mm:ss"}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- If there is no Solution -->
  <div class="aling-center bid_div color-white" style="margin-top:18px"
    *ngIf="responseLength == 0 && productType == 'nonpricing' && (!access?.createAccess || !isCoOwner)">
    Pricing Section is yet to be created
  </div>
  <!-- Action Button Save,Submit,Reset -->
  <div class="container" *ngIf="access && access?.writeAccess && (isCoOwner || user_type=='CONTRIBUTOR')">
    <div class="text-center" *ngIf="response[temp] && productType == 'nonpricing'">
      <button type="submit" *ngIf="!revokeFlag" class="btn save-button"
        [disabled]="((!reviewFlag || !reviewNonPriceflag) && this.reviewComment) || pocSubmited || !actionFlag || bidStatus == 'DROPPED' || reassignFlag"
        (click)="onSaveAsDraft(temp, 'save')">Save</button>
      <button type="submit" *ngIf="!revokeFlag" class="btn draft-button"
        [disabled]="((!reviewFlag || !reviewNonPriceflag) && this.reviewComment) || pocSubmited || !actionFlag || bidStatus == 'DROPPED' || reassignFlag"
        (click)="onSubmit(j,temp)">{{response[temp].solution_add[0].draft[0].flag ? 'Assign' : 'Submit'}}</button>
      <button type="submit" *ngIf="!revokeFlag" class="btn cancel-button"
        [disabled]="((!reviewFlag || !reviewNonPriceflag) && this.reviewComment) || pocSubmited || !actionFlag || bidStatus == 'DROPPED' || reassignFlag"
        (click)="onReset()">Reset</button>
      <!-- After revoke -->
      <button type="submit" *ngIf="revokeFlag" class="btn save-button"
        [disabled]="((!reviewFlag || !reviewNonPriceflag) && this.reviewComment) || pocSubmited || bidStatus == 'DROPPED' || reassignFlag"
        (click)="onSaveAsDraft(temp, 'revoke')">Save</button>
      <button type="submit" *ngIf="revokeFlag" class="btn draft-button"
        [disabled]="((!reviewFlag || !reviewNonPriceflag) && this.reviewComment) || pocSubmited || !access?.writeAccess || bidData?.parent || bidStatus == 'DROPPED' || reassignFlag"
        (click)="onRevoke(j,temp)">Submit</button>
      <button type="submit" *ngIf="revokeFlag" class="btn cancel-button"
        [disabled]="((!reviewFlag || !reviewNonPriceflag) && this.reviewComment) || pocSubmited || bidStatus == 'DROPPED' || reassignFlag"
        (click)="onReset()">Reset</button>
    </div>
  </div>
</form>
<!-- Loader Section for the Solution TAB-->
<div class="overlay" *ngIf="loader">
  <img src="assets/Logo/browserlogo.png" id="logoLoader" alt="" />
</div>