<app-bid-details></app-bid-details>
<div class="container">
  <!-- Breadcrumb Section -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard" aria-current="page">Home</li>
      <li class="breadcrumb-item active" aria-current="page">Project
        Summary</li>
    </ol>
  </nav>
  <div class="row heading">
    <div class="col-md-9">
      <h2>Project Summary </h2>
    </div>
    <!-- <div class="col-md-3 align-right" style="margin-top:20px">
      <img src="assets\images\parsing (2).png" title="Scan Documents" (click)="openDialog()">
    </div> -->
  </div>
  <div class="main-content-area">
    <div class="row">
      <div class="container mt-3">
        <ps-child></ps-child>
      </div>
    </div>
  </div>
</div>