<!-- <app-header></app-header> -->
<app-alert></app-alert>
<div class="container">
  <div class="content padding-top-100">
    <!-- Breadcrumb Section -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="margin-top: 10px;">
        <!-- <li class="breadcrumb-item" (click)="changeState()">Menu</li> -->
        <li class="breadcrumb-item"> Master Data</li>
        <li class="breadcrumb-item active" aria-current="page">Competitors</li>
      </ol>
    </nav>
    <!-- Page Heading -->
    <div class="row">
      <div class="col-md-6 column">
        <h2>List of Competitors </h2>
      </div>
      <!-- Search Input Field -->
      <div class="col-md-3">
        <input type='text' class="searchBox" placeholder='Search' [(ngModel)]="filter">
        <img src="assets/images/search.png" id="searchIcon">
      </div>
      <!-- Add Territory Button -->
      <div class="col-md-3">
        <div class="align-right">
          <button type="button" *ngIf="competitors.length != 0" class="btn create-button" title="Add New Competition"
            [routerLink]="['../create']" style="margin-top: 18px;">
            <i style="padding-left:5px;font-size:20 px;" class="fa fa-plus"></i>
            NEW COMPETITOR</button>
        </div>
      </div>
    </div>
    <!-- Table for Territory List -->
    <div class="row margin-top-12">
      <div class="container-fluid">
        <table class="table table-striped table-bordered dt-responsive nowrap">
          <thead>
            <tr class="blueTh">
              <th class="align-center first-col" style="width: 5% !important;">Sr</th>
              <th>Competitor Names</th>
              <th>Website</th>
              <th>Contact No</th>
              <th>Description</th>
              <th class="align-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="competitors.length == 0">
              <td [routerLink]="['../create']"><i title="Add New Competition"
                  style="padding-left:5px;font-size:20px;color: #f1a458" class="fa fa-plus"></i></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr
              *ngFor="let item of competitors | search : filter : 'competitor_name' | paginate:{ itemsPerPage:10,currentPage:p }let i = index;">
              <td class="align-center first-col">
                {{i + (1+((p-1)*10))}}
              </td>
              <td>{{item.competitor_name}}</td>
              <td>{{item.competitor_website}}</td>
              <td>{{item.competitor_contact}}</td>
              <td>{{item.description}}</td>

              <!-- Action Button for Edit , View And Delete  -->
              <td class="align-center">
                <img src="assets/images/eye-open.png" [routerLink]="['../view',item._id]" title="View"
                  class="icon-size">&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="assets/images/edit1.png" [routerLink]="['../update',item._id]" title="Edit"
                  class="icon-size">&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="assets/images/rubbish-bin.png" class="icon-size" title="Delete"
                  (click)="deleteCompetitor(item._id)">
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination for Territory Table  -->
        <pagination-controls class="align-center" (pageChange)="p=$event" *ngIf="competitors.length > 10">
        </pagination-controls>
      </div>
    </div>
  </div>
</div><!-- Panel Content -->
<!-- Loader Section -->
<div class="overlay" *ngIf="loader">
  <img src="assets/Logo/browserlogo.png" id="logoLoader" alt="" />
</div>
