<!-- <app-header></app-header> -->
<app-alert></app-alert>
<div class="container">
  <div class="row">
    <div class="mainadduserSection col-sm-3 col-md-3">
    </div>
    <div class="mainadduserSection col-sm-6 col-md-6">
      <div class="card mainuserSection">
        <!-- Breadcrumb Section  -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"> Master Data </li>
            <!-- <li class="breadcrumb-item" (click)="changeState()">Menu</li> -->
            <li class="breadcrumb-item" routerLink="/competitor/list" aria-current="page">Competitors</li>
            <li class="breadcrumb-item active" aria-current="page">{{id ? 'Update' : 'Create'}}</li>
          </ol>
        </nav>
        <div class="row text-center form-group">
          <!-- Heading of the Page -->
          <h4 class="formHeading">{{id ? 'Update' : 'Create'}} Competitor</h4>
        </div>
        <!-- Creating Competitor Starts Here -->
        <div>
          <div class="">
            <div class="row">
              <div class="col-md-12 margin-bottom">
                <label class="margin-top"> Competitor Name&nbsp;<span class="required_field">*</span></label>
                <input class="form-control input-border input-bar" type="text" maxlength="50"
                  [(ngModel)]="compCreate.competitor_name" placeholder="Competitor Name" required="required"
                  [ngStyle]="{'box-shadow' : competitorSubmitted && (!compCreate.competitor_name) ? '0 0 .5px .5px red' : '0 0 .5px .5px #17b495'}">
              </div>
              <div class="col-md-12 margin-bottom">
                <label class="margin-top"> Website&nbsp;<span class="required_field">*</span></label>
                <input (input)="validateSingle('competitor_website');validateRegex('competitor_website')"
                  class="form-control input-border input-bar" type="text" maxlength="50"
                  [(ngModel)]="compCreate.competitor_website" placeholder="Website Name" required="required"
                  [ngStyle]="{'box-shadow' : competitorSubmitted && !compCreate.competitor_website ? '0 0 .5px .5px red' : '0 0 .5px .5px #17b495'}">
                <div class="message-warning" style="font-size: 13px; position: absolute; width: 95%;"
                  *ngIf="compCreate.competitor_website && !compCreate.competitor_websiteRegexValid">
                  Website must be valid.
                </div>
              </div>
              <div class="col-md-12 margin-bottom">
                <label class="margin-top"> Contact No&nbsp;<span class="required_field">*</span></label>
                <input (input)="validateSingle('competitor_contact');validateRegex('competitor_contact')"
                  class="form-control input-border input-bar" type="text" maxlength="11"
                  [(ngModel)]="compCreate.competitor_contact" placeholder="Contact no" required="required"
                  [ngStyle]="{'box-shadow' : competitorSubmitted && !compCreate.competitor_contact ? '0 0 .5px .5px red' : '0 0 .5px .5px #17b495'}">
                <div class="message-warning" style="font-size: 13px; position: absolute; width: 95%;"
                  *ngIf="compCreate.competitor_contact && !compCreate.competitor_contactRegexValid">
                  Valid phone is required.
                </div>
              </div>
              <div class="col-md-12 margin-bottom">
                <label class="margin-top" for="comment">Description&nbsp;</label>
                <textarea class="form-control input-bar input-border" maxlength="50"
                  [(ngModel)]="compCreate.description" placeholder="Description"></textarea>
              </div>
            </div>
            <br>
            <!-- Action Button Update Create -->
            <div class="row">
              <div class="col-md-12 margin-bottom align-center">
                <div class="text-center">
                  <button type="button" style="margin-top:30px" class="btn draft-button align-center"
                    (click)=" id  ? updateCompetitor() : createCompetitor()">{{id ? 'Update' : 'Save'}}</button>
                  <button type="button" style="margin-top:30px" class="btn cancel-button"
                    (click)="onResetCompetitorInfo()">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mainadduserSection col-sm-3 col-md-3">
    </div>
  </div>
</div>
 <!-- Loader Section for the Account-->
 <div class="overlay" *ngIf="loader">
  <img src="assets/Logo/browserlogo.png" id="logoLoader" alt="" />
</div>
