.row {
    margin-bottom: 6px;
}

.bid_div {
    margin-top: 5px !important;
    background-color: #364453 !important;
    padding: 5px 0;
    border-radius: 5px;
    margin-right: 5px;
}

.bid_head {
    color: #70D8C4;
    font-size: 16px;
    text-transform: capitalize;
}

.panel-body {
    background-color: #17b495;
    color: white;
    padding: 9px;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    height: 34px;
}

#cancel {
    width: 23px;
    float: right;
}

.task {
    margin-top: 12px;
    text-transform: capitalize;
    font-size: 16px;
}