<div class="account-user-sec">
  <div class="account-sec">
    <div class="account-top-bar">
      <!-- Logo Image of the Page -->
      <div class="container">
        <div class="logo">
          <a href="javascript:void(0)" title=""><img src="assets/Logo/Pricebid logo only final.jpg"
              [routerLink]="['/login']" style="height: 50px;margin-left: -56px;;"></a>
        </div>
        <ul class="account-header-link">
          <!-- <li><a title="" href="#/register">Register</a></li>
					     <li><a title="" href="#/forgot-password">Forgot Your liPassword</a></li> -->
        </ul>
      </div>
    </div>
    <app-alert></app-alert>
    <div class="acount-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="contact-sec">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <!-- Logo Image inside the Box -->
                  <div class="widget-title">
                    <h3><img style="width: 110%;margin-top: -53px;margin-left: -8px;"
                        src="assets/Logo/Pricebid logo total final blue.png"></h3>
                    <span style="color:#364453;font-size:25px;">Reset Password</span>
                  </div><!-- Widget title -->
                  <div class="account-form">
                    <div class="alert alert-danger" *ngIf="errorMsg">
                      {{errorMsg}}
                    </div>
                    <form [formGroup]="resetPasswordForm" novalidate>
                      <div class="row">
                        <div class="feild col-md-12">
                          <input type="password" placeholder="New Password" formControlName="Password"
                            name="Password" />
                        </div>
                        <div class="feild col-md-12">
                          <input type="password" placeholder="Confirm Password" formControlName="ConfirmPassword"
                            name="ConfirmPassword" />
                        </div>
                        <div class="feild col-md-12">
                          <button class="btn save-button" [disabled]="!resetPasswordForm.valid"
                            (click)="resetPassword(resetPasswordForm)">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================Footer Area =================-->
    <div class="container" class="footer align-center">
      <p>© 2021 Pricebid.co</p>
    </div>
  </div><!-- Account Sec -->
</div>
