#cancel{
    width: 26px;
    float: right;
    margin-top: 14px;
    margin-right: 18px;
}
.navbar-inverse {
    background-color: #364453;
    border-color: #364453;
    height: 0px;
}
#closeBtn{
    margin-top: 10px;
    margin-left: 139px;
}
#nos{
    margin-top: 8px;
    color: #17b495 !important;
}
#removeBtn{
    margin-left: -33px;
    margin-top:0px;
}
#row1{
    margin-bottom: 10px;
    width: 103%;
}
#downloadBtn{
    margin-top: 0px;
}
#btnRefresh{
    margin-left: -24px !important;
    margin-top: 0px;
}
